<h1>Listing m_icroposts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @m_icroposts.each do |m_icropost| %>
      <tr>
        <td><%= m_icropost.content %></td>
        <td><%= m_icropost.user_id %></td>
        <td><%= link_to 'Show', m_icropost %></td>
        <td><%= link_to 'Edit', edit_m_icropost_path(m_icropost) %></td>
        <td><%= link_to 'Destroy', m_icropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M icropost', new_m_icropost_path %>
